.toppadding{
  padding-top: 4%;
}

.sidemarging{
    padding-right: 5%;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .author {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  

  .author .closemodal{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
  
  }

  .cover .closecover {
    position: absolute;
    right: 5px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    
    
  }
 
  .contentcover {
    position: absolute;
    top: 8%;
    left: 15%;
    overflow: auto;
   
  }

