.header_color {
  padding-top: 1%;
  background-color: #081e3f;
}

.atags {
  color: #f8c93e;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #081e3f;
}

.copyright {
  color: #f8c93e;
  text-align: center;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

.Parent {
  margin: auto;
  width: 50%;
}

h3 {
  color: #081e3f;
}

h4 {
  color: #081e3f;
}

.list-group-item {
  cursor: pointer;
}
li {
  color: black;
}

/* body {
  background-image: url("book2.jpg");
  background-size: cover;
} */
head {
  color: #081e3f;
}
