<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>GeekText</title>
  <meta name="description" content="">
  
  <!-- Mobile Specific Metas–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/books.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/headerandfooter.css') }}">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 

</head>

 <style>A {text-decoration: none;} </style>
<body >
<header  class=" row main_nav header_color">
    <div class="container">
      <div class="six columns">
        <a class=""  href="{{ url_for('home') }}"><strong>Geek</strong><em>Text</em></a>
      </div>
        <div class="one column">
        <a class=""  href="{{ url_for('home') }}">Home</a>
        </div>
        <div class="one column">
        <a class="" href="{{ url_for('wishlist') }}">Wish List</a>
        </div> 
        <div class="one column">
        <a class="" href="{{ url_for('books') }}">Books</a>
       </div>
        <div class="one column">
        <a class="" href="{{ url_for('shoppingcart') }}">Shopping Cart</a>
       </div>
        <div class="one column">
        <a class="" href="{{ url_for('login') }}">Log In</a>
        </div>
        <div class="one column">
        <button class="button-primary" href="{{ url_for('signup') }}">Sign Up</button>
        </div>
  </header>

  

{% for book in books %}
    {% if book.book_name == "1984"%}

    <div  class="row container padding">
        <div  class="container twelve columns">
          
          <div class = "three columns"> 
          <a href="#{{book["link"]}}"><img id="cover" src = "/img/{{book["link"]}}.jpg" width="235" height="350" ></a>
          </div>

          <div id="{{book["link"]}}" class="overlay">
          <div class="cover">
            <div class="contentcover">
              <a class="closecover" href="#">&times;</a>
            <img src = "/img/{{book["link"]}}.jpg" width="375px" height="600px" > </div>
          </div>
          </div>

          <div class = "nine columns">  
            <a style="font-size:2em" href="{{ url_for('distinctbook',link=book.link) }}" ><b>{{book.book_name}}</b></a>
            <br> Written by <a  href="" data-toggle="modal" data-target="#otherBooks" data-whatever="@getbootstrap"><b>{{book.author_name}}</b></a>
            <br> <br>
            <p> "{{book.book_description}}"</p>
            <p> <b>Genre:</b> {{book.genre}}</p>
            <p> <b>Publisher: </b>{{book.publisher}} <br>
                <b>Release Date: </b>{{book.publishing_info}} <br>
                <b> {{book.type}}:</b> {{book.pages}} pages <br> </p> 
            <p> <b> Rating: </b>{{avg}} </p>

          </div>  
          
          <div class="twelve columns">
          
            <br><a href="" data-toggle="modal" data-target="#otherBooks" data-whatever="@getbootstrap" data-toggle="modal" data-target="#bannerformmodal"><b>{{book.author_name}} </b></a>  <br> 
            {{book.short_bio}}<br><br>
            <a style="font-size:1.2em" href="{{ url_for('message1',link=book.link) }}">Review Book</a><br><br>

          <p><b> Customer Comments: </b> <br> </p>
            {% for comment in comments %}
              {% for individual in comment.comment %}
                {{ individual }} <br><br>
              {% endfor %}
            {% endfor %}
          </div>
          
        </div>    
        
       
        {%endif%} 
    {%endfor%}
        
        </div>
   
  
    {% for author in authors %}
        {% if author.author_name == "George Orwell"%}     
      <div class="modal fade" id="otherBooks" tabindex="-1" role="dialog" aria-labelledby="otherBooksLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title" id="otherBooksLabel">{{author.author_name}}</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            Other book(s) by this author are: <br><br>
                    {% for title in author.books %}
                       {% if title == "Animal Farm" %}
                         <a href="{{ url_for('distinctbook',link=author.link2) }}">{{ title }}</a><br> 
                       {%endif%}   
                    {%endfor%}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn button-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

         {%endif%}     
        {%endfor%}  
         
    </div>
  </div>

  
 <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script> 
  

  <footer class="row booksfooter">
      <p class="copyright">&copy; 2020 GeekText. All Rights Reserved. </p>
</footer>

    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
